
@{
    ViewBag.Title = "LienLac";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div style="padding:10px 10px 10px 10px;border-style:solid">

    <div class="connect col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin:40px 80px">
        <ul>
            <li> <h4 style="color:red">LienLac : </h4></li>
            <li><h3>Kết Nối Với Chúng Tôi Thông Qua</h3></li>
            <li>
                <a style="float: left;" rel="nofollow" target="_blank" href="https://www.facebook.com/Hnammobile.vn/?fref=ts" class="fb"><img src="https://stcv4.hnammobile.com//v5/images/fb_cam.svg"> FACEBOOK</a><span style="float: left;margin: 0 5px 0 5px">|</span>
                <a rel="nofollow" target="_blank" href="https://www.hnammobile.com/tin-tuc/bam-nut--quan-tam--hnam-mobile-tren-zalo-de-mua-hang-voi-gia-sieu-re.18548.html" class="fb" style="padding:0;"><img class="zalo" style=" margin-right 2px;" alt="zalo" src="https://stcv4.hnammobile.com/fileext/zalo.png"> ZALO</a><span style="float: left;margin: 0 5px 0 5px">|</span>
                <a rel="nofollow" target="_blank" href="https://www.youtube.com/user/hnamchannel" class="youtube"><img src="https://stcv4.hnammobile.com//v5/images/youtube_cam.svg">H CHANNEL</a>
            </li>
            <li><a rel="nofollow" title="Hợp tác kinh doanh" href="/thong-tin/kinh-doanh"><span class="fa fa-check-square-o" aria-hidden="true" style="font-size:16px;"></span>&nbsp;&nbsp;Hợp tác kinh doanh</a></li>
            <li class="hotlineli"><p class="hotline"><a href="tel:19002012"><span class="fa fa-phone-square" aria-hidden="true" style="font-size:16px; color: #ff5400;"></span>&nbsp;&nbsp;<span style=" color #ff5400;">0986868688 (Hotline)</span></a></p></li>
        </ul>
    </div>
</div>
