
@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div style="margin:30px 70px;border-style:solid">
    <h2 style="margin-top:20px;">TinTuc</h2>
    <div class="row">
        <div style="width:100%; font-size: 15px;margin:10px 20px">
            <img height="175" style="float:left;margin:0 10px 10px 0;" src="https://stcv4.hnammobile.com/fileext/hnam-mobile-gioi-thieu-0317.png" alt="hnammobile/"><h1>
                <b>* CH Mobile là Chuỗi cửa hàng bán Lẻ giá Sỉ chính hãng với các sản phẩm công nghệ như Điện thoại di động, Phụ kiện điện thoại, … uy tín lâu năm tại TP.HÀ NỘI.</b>
            </h1>

            <p>✔ Điện thoại di động chính hãng, giá rẻ: iPhone, điện thoại Samsung, điện thoại OPPO, điện thoại Sony, điện thoại BlackBerry, điện thoại HTC, điện thoại Vivo, điện thoại Nokia, điện thoại Xiaomi, điện thoại Lenovo, điện thoại LG, điện thoại Asus Zenfone…</p>

            <p>✔ Phụ kiện điện thoại giá rẻ nhất: ốp lưng, bao da, dán cường lực, dán màn hình điện thoại, cáp sạc, thẻ nhớ, tai nghe, gậy chụp hình, loa di động, đồng hồ thông minh, pin sạc dự phòng…</p>

            <p>✔ Điện thoại cũ giá rẻ, iPhone 6 99%, iPhone 6 plus 99%, iPhone 6s 99%, iPhone 6s plus 99%, iPhone 7 99%, iPhone 7 plus 99%...</p>

            <p>Không chỉ bán lẻ với giá rẻ, Hnam Mobile còn cung cấp vô số dịch vụ chất lượng và tiện dụng nhất cho Quý khách:</p>

            <p>✔ Mua điện thoại trả góp lãi suất thấp, thậm chí lãi suất 0% qua các ngân hàng: Sacombank, Shinhan Bank, VP Bank, ANZ, Tp bank, Nam Á Bank.</p>

            <p>✔ Giao hàng miễn phí nhanh như bay trong 60 phút.</p>

            <p>✔ Sửa chữa điện thoại giá rẻ, uy tín. Tổng đài hỗ trợ khách hàng: 0986868688</p>
        </div>
    </div>
</div>

