@model N35_WebBanDT.Models.Entities.Hang

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Xoa</h2>

<h3>Bạn có chắc chắn xóa không?</h3>
<div>
    <h4>Hang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHang)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở về danh sách hãng", "DanhSachHang")
        </div>
    }
</div>
